.icon--table {
	background-image: url('../img/design/sprite-images-sf86e62c112.png');
	background-position: 0 -268px;
	background-repeat: no-repeat;
	height: 20px;
	width: 28px;
}

.icon--list {
	background-image: url('../img/design/sprite-images-sf86e62c112.png');
	background-position: 0 -84px;
	background-repeat: no-repeat;
	height: 26px;
	width: 26px;
}

.icon--table:hover,
.active .icon--table {
	background-image: url('../img/design/sprite-images-sf86e62c112.png');
	background-position: 0 -238px;
	background-repeat: no-repeat;
	height: 20px;
	width: 28px;
}

.icon--list:hover,
.active .icon--list {
	background-image: url('../img/design/sprite-images-sf86e62c112.png');
	background-position: 0 -48px;
	background-repeat: no-repeat;
	height: 26px;
	width: 26px;
}

.icon--pointer-left {
	background-image: url('../img/design/sprite-images-sf86e62c112.png');
	background-position: 0 -202px;
	background-repeat: no-repeat;
	height: 26px;
	width: 26px;
}

.icon--pointer-left:hover {
	background-image: url('../img/design/sprite-images-sf86e62c112.png');
	background-position: 0 -166px;
	background-repeat: no-repeat;
	height: 26px;
	width: 26px;
}

.icon--mail {
	background-image: url('../img/design/sprite-images-sf86e62c112.png');
	background-position: 0 -120px;
	background-repeat: no-repeat;
	height: 10px;
	width: 14px;
}

.icon--phone {
	background-image: url('../img/design/sprite-images-sf86e62c112.png');
	background-position: 0 -140px;
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
}

.icon--del {
	background-image: url('../img/design/sprite-images-sf86e62c112.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 13px;
	width: 13px;
}

.icon--edit {
	background-image: url('../img/design/sprite-images-sf86e62c112.png');
	background-position: 0 -23px;
	background-repeat: no-repeat;
	height: 15px;
	width: 12px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {

.icon--table {
	background-image: url('../img/design/sprite-images-2x-s9cd5acb6fb.png');
	background-size: 28px 243px;
	background-position: 0 -198px;
	height: 21px;
	width: 29px;
}

.icon--list {
	background-image: url('../img/design/sprite-images-2x-s9cd5acb6fb.png');
	background-size: 28px 243px;
	background-position: 0 -38px;
	height: 27px;
	width: 27px;
}

.icon--table:hover,
.active .icon--table {
	background-image: url('../img/design/sprite-images-2x-s9cd5acb6fb.png');
	background-size: 28px 243px;
	background-position: 0 -223px;
	height: 21px;
	width: 29px;
}

.icon--list:hover,
.active .icon--list {
	background-image: url('../img/design/sprite-images-2x-s9cd5acb6fb.png');
	background-size: 28px 243px;
	background-position: 0 -69px;
	height: 27px;
	width: 27px;
}

.icon--pointer-left {
	background-image: url('../img/design/sprite-images-2x-s9cd5acb6fb.png');
	background-size: 28px 243px;
	background-position: 0 -136px;
	height: 27px;
	width: 27px;
}

.icon--pointer-left:hover {
	background-image: url('../img/design/sprite-images-2x-s9cd5acb6fb.png');
	background-size: 28px 243px;
	background-position: 0 -167px;
	height: 27px;
	width: 27px;
}

.icon--mail {
	background-image: url('../img/design/sprite-images-2x-s9cd5acb6fb.png');
	background-size: 28px 243px;
	background-position: 0 -100px;
	height: 11px;
	width: 15px;
}

.icon--phone {
	background-image: url('../img/design/sprite-images-2x-s9cd5acb6fb.png');
	background-size: 28px 243px;
	background-position: 0 -115px;
	height: 17px;
	width: 17px;
}

.icon--del {
	background-image: url('../img/design/sprite-images-2x-s9cd5acb6fb.png');
	background-size: 28px 243px;
	background-position: 0 0;
	height: 14px;
	width: 14px;
}

.icon--edit {
	background-image: url('../img/design/sprite-images-2x-s9cd5acb6fb.png');
	background-size: 28px 243px;
	background-position: 0 -18px;
	height: 16px;
	width: 13px;
}

}

