/* @override http://localhost:8888/css/style.css */

/* @group main */

@font-face {
    font-family: 'SegoeUIRegular';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/SegoeUIRegular.eot');
    src: url('../fonts/SegoeUIRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUIRegular.woff') format('woff'),
    url('../fonts/SegoeUIRegular.ttf') format('truetype');
}
@font-face {
    font-family: 'SegoeUIBold';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/SegoeUIBold.eot');
    src: url('../fonts/SegoeUIBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUIBold.woff') format('woff'),
    url('../fonts/SegoeUIBold.ttf') format('truetype');
}
html, body {
    font-family: 'SegoeUIRegular';
    font-size: 16px;
    height: 100%;
}
.page {
    font-size: 16px;
    width: 100%;
    min-width: 820px;
    min-height: 100%;
    padding: 74px 0;
}
.container {
    width: 800px;
    margin: 0 auto;
}
li {
    list-style: none;
}
.icon {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    text-indent: -9999px;
}
.clearfix:after {
    display: block;
    clear: both;
    content: '';
}
.vertical-align-middle:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.page-bg {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/design/bg-page.jpg) no-repeat;
    background-size: cover;
}
h1 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}
.button {
    font-family: 'SegoeUIRegular';
    font-size: 14px;
    display: inline-block;
    padding: 7px 26px;
    transition: all .1s linear;
    vertical-align: middle;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(255, 255, 255, .74);
}
.button:hover {
    background: #ccc;
    /*color: #fff;*/
}
.button:disabled {
    cursor: default;
    background: #eee;
}
.button--right {
    float: right;
}
.input {
    font-family: 'SegoeUIRegular';
    font-size: 12px;
    font-weight: 400;
    display: block;
    width: 100%;
    height: 39px;
    padding: 0 15px;
    color: #909090;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background-color: #fff;
    box-shadow: inset -.1px 1px 1px rgba(0, 1, 1, .1);
}
.input:focus {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.container-input {
    position: relative;
}
.input--mini {
    height: 29px;
    margin-bottom: 18px;
}
a {
    cursor: pointer;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

/* @group animated */

.selector {
    -webkit-animation-name: name-animated;
            animation-name: name-animated;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

.animated {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-animation-duration: 1s;
            animation-duration: 1s;

    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
.animated.hinge {
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
}

/* @end */

/* @end */

/* @group pagination */

.pagination {
    text-align: center;
}
.pagination__ul {
    display: inline-block;
}
.pagination__li {
    font-size: 0;
    float: left;
    transition: all .1s linear;
}
.pagination__li:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: baseline;
}
.pagination__a {
    font-size: 16px;
    display: table-cell;
    transition: all .1s linear;
    vertical-align: middle;
}
.pagination__a:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.is-active .pagination__a, .pagination__a:hover {
    color: #fff;
    background: #00b0bd;
}
.pagination__span {
    font-size: 18px;
    display: inline-block;
}

/* @end */

/* @group validation form */

.wrapper-input {
    position: relative;
}
.form-validation .wrapper-input .icon {
    position: absolute;
    top: 5px;
    right: 11px;
}
.ui-state-error, .ui-state-valid.error {
    border-color: #ff5a1f !important;
}
.ui-state-valid:not(.button) {
    border-color: #95c785;
}
input.ng-invalid.ng-dirty {
    border-color: #843534;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}

/* @end */

/* @group select */

.select {
    width: 200px;
}
.select__input {
    position: relative;
    height: 100%;
}
.select__a {
    font-size: 0;
    position: absolute;
    top: 0;
    right: 0;
    /*padding: 0 14px;*/
    width: 25px;
    height: 100%;
    text-align: center;
    background: #000;
}
.select__a:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.select__in {
    position: relative;
    height: 100%;
}
.select__option {
    position: absolute;
    z-index: 10;
    top: 100%;
    right: 0;
    left: 0;
    visibility: hidden;
    /*overflow: hidden;*/
    padding: 10px;
    padding: 0;
    transition: all .1s linear;
    opacity: 0;
    background: #fff;
}
.select__option.is-visible {
    visibility: visible;
    opacity: 1;
}
.select .scroller__track {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    transition: opacity .3s linear;
    opacity: 0;
}
.select__option:hover .scroller__track {
    opacity: 1;
}
.select__option-a {
    display: block;
    padding: 14px 16px;
    transition: all .1s linear;
    text-decoration: none;
    color: #201523;
}
.select__option-a:hover, .select__option-a.is-checked {
    color: #fff;
    background: #147db2;
}
.select__option-a.is-checked {
    cursor: default;
    pointer-events: none;
}
.select__option-li {
    margin-bottom: 1px;
}
.select__option-li:last-child {
    margin: 0;
}
.select .scroller__bar {
    position: absolute;
    right: 0;
    width: 5px;
    background: #000;
}
.input__select {
    width: 100%;
    height: 100%;
}
.scroller {
    overflow: hidden;
    height: 163px;
}
.scroller__in {
    overflow-y: scroll;
    height: 100%;
}
.scroller__in::-webkit-scrollbar {
    width: 0;
}

/* @end */

/* @group input file */

.input-file {
    position: relative;
    z-index: 1;
    display: inline-block;
}
.label__file {
    font-size: 0;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    /*width: 52px;*/
    left: 0;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    /*background-color: #48cbe8;*/
}
.ie-8 .label__file {
    bottom: 1px;
}
.label__file:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.label__file .icon {
    transition: -webkit-transform .2s ease;
    transition:         transform .2s ease;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}
.label__file:active .icon {
    -webkit-transform: scale(.9);
            transform: scale(.9);
}
#input__file {
    position: absolute;
    z-index: -5;
    top: -100%;
    left: 0;
    visibility: hidden;
    cursor: pointer;
    opacity: 0;
}
.ie-8 #input__file {
    visibility: visible;
}
.input__file-name {
    pointer-events: none;
}

/* @end */

/* @group slider */

.slider {
    position: relative;
    overflow: hidden;
    height: 292px;
    border: 1px solid #d0d0d0;
}
.slider__li {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0;
}
.slider__li img {
    width: 100%;
    height: 100%;
}
.slider__pagination {
    font-size: 0;
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}
.slider__pagination-a {
    display: block;
    width: 10px;
    height: 10px;
    background: #000;
}
.is-selected .slider__pagination-a {
    cursor: default;
    pointer-events: none;
    background: red;
}
.slider__pagination-ul {
    display: inline-block;
}
.slider__pagination-ul:after {
    display: table;
    clear: both;
    content: '';
}
.slider__pagination-li {
    float: left;
    margin-left: 5px;
}
.slider__nav-prev, .slider__nav-next {
    position: absolute;
    z-index: 2;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: #000;
}
.slider__nav-prev {
    left: 10px;
}
.slider__nav-next {
    right: 10px;
}

/* @group animation */

.slider__li.is-visible, .slider__li.is-hidden {
    opacity: 1;
}
.slider__li.is-in-right, .slider__li.is-in-left {
    z-index: 1;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;

    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}
.slider__li.is-in-right {
    -webkit-animation-name: isNext;
            animation-name: isNext;
}
.slider__li.is-in-left {
    -webkit-animation-name: isPrev;
            animation-name: isPrev;
}
@-webkit-keyframes isNext {
    from {
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
@keyframes isNext {
    from {
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
@-webkit-keyframes isPrev {
    from {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    to {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
@keyframes isPrev {
    from {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    to {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

/* @end */

/* @end */

/* @group contacts */

.contacts__top {
    font-size: 0;
    height: 34px;
    margin-bottom: 20px;
}
.contacts__top:after {
    display: table;
    clear: both;
    content: '';
}
.contacts__top:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.mode {
    font-size: 0;
    float: right;
    height: 100%;
}
.mode:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.mode__in {
    display: inline-block;
    vertical-align: middle;
}
.mode__a {
    display: inline-block;
    margin-left: 26px;
}
.mode__a.active {
    pointer-events: none;
}
.contacts__bottom {
    padding: 20px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .74);
}
.contacts__table {
    width: 100%;
}
.contacts__table td {
    font-size: 12px;
    max-width: 100px;
    height: 34px;
    padding: 0 10px 0 8px;
    transition: all .1s linear;
    vertical-align: middle;
    word-wrap: break-word;
    color: #333;
    border-bottom: 1px solid #ddd;
}
.contacts__table tbody tr:last-child td {
    border-bottom: none;
}
.contacts__table thead td {
    font-family: 'SegoeUIBold';
    font-size: 14px;
    border-bottom: 2px solid #ddd;
}
.contacts__mode-list-li {
    float: left;
    width: 130px;
    min-height: 170px;
    margin-left: 30px;
}
.contacts__mode-list-li:nth-child(5n+1) {
    clear: both;
}
.contacts__mode-list-ul {
    margin-left: -30px;
}
.contacts__mode-list-ul:after {
    display: table;
    clear: both;
    content: '';
}
.contacts__img {
    font-size: 0;
    position: relative;
    width: 130px;
    height: 130px;
    margin-bottom: 6px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #eee;
}
.contacts__img:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.contacts__img img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.contacts__mode-list-text {
    font-size: 12px;
    display: block;
    text-align: center;
    word-wrap: break-word;
    color: #000;
}
.contacts__img-text {
    font-size: 20px;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .1s linear;
    opacity: 0;
    color: #fff;
    border-radius: 5px;
    background: rgba(0, 0, 0, .4);
}
.contacts__img-text:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.contacts__img:hover .contacts__img-text {
    opacity: 1;
}
.contacts__edit {
    position: relative;
    visibility: hidden;
    height: 20px;
    transition: all .1s linear;
    opacity: 0;
}
.contacts__img .contacts__edit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 6px;
}
.contacts__table tr:hover .contacts__edit {
    visibility: visible;
    opacity: 1;
}
.contacts__img:hover .contacts__edit {
    visibility: visible;
    opacity: 1;
    background: rgba(255, 255, 255, .5);
}
.contacts__table tbody tr:hover td {
    background: #d3d3d3;
}
.contacts__edit-in {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    white-space: nowrap;
}
.contacts__img .contacts__edit-in {
    width: 100%;
    height: 100%;
}
.contacts__edit-in:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.contacts__edit-a {
    margin-left: 3px;
    vertical-align: middle;
}
.contacts__img .contacts__edit-a {
    margin-left: 10px;
}
.contacts__edit-a:first-child {
    margin-left: 0;
}

/* @end */

/* @group contacts add */

.contacts__add {
    padding: 0 91px 0 88px;
}
.contacts__add:after {
    display: table;
    clear: both;
    content: '';
}
.contacts__add-right {
    float: right;
    width: 268px;
}
.label {
    font-size: 14px;
    line-height: 12px;
    display: block;
    margin-bottom: 7px;
    color: #010101;
}
.contacts__add .container-icon {
    font-size: 0;
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    width: 39px;
    text-align: center;
    border-right: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    background-color: #eee;
}
.contacts__add .container-icon ~ .input {
    padding-left: 50px;
}
.contacts__add .container-icon:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.contacts__add .contacts__img {
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}
.contacts__add .button {
    width: 91px;
    padding: 4px 0 5px;
    text-align: center;
}
.contacts__add-left {
    float: left;
}
.contacts--add .contacts__bottom {
    padding-top: 38px;
}
.contacts__add-row {
    margin-bottom: 11px;
}

/* @end */

/* @group media */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
}

/* @end */
