<div class="contacts__top">
	<div class="mode">
		<div class="mode__in">
			<a class="mode__a" ng-class="{active: mode}" ng-click="toggleMode()"><span class="icon icon--table"></span></a>
			<a class="mode__a" ng-class="{active: !mode}" ng-click="toggleMode()"><span class="icon icon--list"></span></a>
		</div>
	</div>
	<a href="add-contacts" class="button">Добавить</a>
</div>
<div class="contacts__bottom">
	<div class="contacts__mode-table" ng-show="mode">
		<table class="contacts__table">
			<col width="67">
			<col width="160">
			<col width="160">
			<col width="160">
			<col width="225">
			<thead>
				<tr>
					<td>#</td>
					<td>Имя</td>
					<td>Фамилия</td>
					<td>Телефон</td>
					<td>Email</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="contact in contacts">
					<td>{{$index + 1}}</td>
					<td>{{contact.name}}</td>
					<td>{{contact.lastname}}</td>
					<td>{{contact.phone}}</td>
					<td>{{contact.email}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="contacts__mode-list" ng-show="!mode">
		<ul class="contacts__mode-list-ul">
			<li class="contacts__mode-list-li" ng-repeat="contact in contacts">
				<div class="contacts__img"></div>
				<span class="contacts__mode-list-text">{{contact.name}} {{contact.lastname}}</span>
				<span class="contacts__mode-list-text">{{contact.phone}}</span>
			</li>
		</ul>
	</div>
</div>