<div class="contacts__top">
	<a href="/" class="button-icon"><span class="icon icon--pointer-left"></span></a>
</div>
<div class="contacts__bottom">
	<div class="contacts__add">
		<form name="changeContact" ng-submit="submitForm()" novalidate>
			<div class="contacts__add-right">
				<div class="contacts__add-row">
					<label class="label">Имя<sup>*</sup></label>
					<input ng-model="contactToEdit.name" class="input" type="text" name="name" placeholder="Имя контакта" required />
				</div>
				<div class="contacts__add-row">
					<label class="label">Фамилия<sup>*</sup></label>
					<input ng-model="contactToEdit.lastname" class="input" type="text" name="lastname" placeholder="Фамилия контакта" required />
				</div>
				<div class="contacts__add-row">
					<label class="label">Контактная информация</label>
					<div class="container-input">
						<div class="container-icon"><span class="icon icon--mail"></span></div>
						<input ng-model="contactToEdit.email" class="input input--mini" type="email" name="email" placeholder="yourmail@gmail.com" />
					</div>
					<div class="container-input">
						<div class="container-icon"><span class="icon icon--phone"></span></div>
						<input ng-model="contactToEdit.phone" class="input input--mini" type="number" name="text" placeholder="7 918 123 45 66" />
					</div>
				</div>
			</div>
			<div class="contacts__add-left">
				<div class="contacts__img">
					<img ng-src="{{contactToEdit.srcUploadImg}}">
					<span class="contacts__img-text">изменить</span>
					<label class="label__file"><input id="input__file" type="file" ng-model="file" ng-file-select="uploadFile(file)"></label>
				</div>
				<!-- <a href="/" ng-click="contactToEdit.$remove()" ng-show="buttonDel" class="button button--right">Удалить</a> -->
				<button ng-click="contactToEdit.$remove()" ng-show="buttonDel" class="button button--right">Удалить</button>
				<input class="button" ng-disabled="changeContact.$invalid" value="Сохранить" type="submit">
			</div>
		</form>
	</div>
</div>